<div class="entity-block">
  <div class="entity-content">
    <div class="entity-icon">
      <%= link_to image_tag(type.to_s + ".png", alt: type.capitalize), path %>
    </div>
    <div class="entity-name">
      <h4><%= link_to entity.name, path %></h4>
    </div>
  </div>
</div>
