<% provide(:title, t('.content_title')) %>

<% content_for :block_content do %>
  <% @folders.each do |folder| %>
    <p><%= link_to folder.name, private_files_path(folder) %></p>
  <% end %>
<% end %>
