<% provide(:title, @user.name) %>

<p><%= t(:name_label) + " " + @user.name %></p>
<p><%= t(:email_label) + " " + @user.email %></p>

<% @user.folders.roots.each do |folder| %>
  <p><%= link_to folder.name, private_files_path(folder) %></p>
<% end %>
