.main-header-block {
  padding: 1rem;
  background-color: #dcf5fc;
  
  .obj-tags {
    @extend .text-xs-center;
    .tag {
      margin-right: 0.5rem;
    }
  }
}

.main-content-block {
  padding: 1rem;
  background-color: #f0fcfc;
}

@include media-breakpoint-down(sm) {
  .main-content-block {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
