.main-header-block {
  padding: 1rem;
  background-color: #dcf5fc;
  
  .obj-tags {
    @extend .text-xs-center;
    .tag {
      margin-right: 0.5rem;
    }
  }
}

.main-content-block {
  padding: 1rem;
  background-color: #f0fcfc;
}
