.add-pano-version-form {
  padding: 0rem 1rem 1rem;
}

.pano-version-title {
  @extend .rounded;
  @extend .h5;
  padding: 1.2rem;
  border: 1px solid #888;
}

.pano-version-tags {
  @extend .text-xs-right;
  float: right;
  max-width: 66%;
}

.active-pano-version {
  .pano-version-title {
    background-color: #dcf5fc;
  }
}

.other-pano-version {
  .pano-version-title {
    background-color: #e8f4f4;
  }
}

.pano-version-content {
  margin-bottom: 1rem;
}

.pano-version-info-block {
  margin-left: 1rem;
  margin-right: 1rem;
}

.base-block {
  padding: 0.8rem 0.8rem;
  border: 1px solid #e0ecec;
  background-color: #e8f4f4;
}

.description-block {
  @extend .base-block;
}

.present-resource {
  @extend .base-block;
}

.absent-resource {
  @extend .base-block;
  border: 1px solid #e0c8c8;
  background-color: #f0dcdc;
}

.resource-load-form {
  padding-top: 1rem;
}

.pano-external-container {
  padding: 1rem 1rem 0rem;
}

.container-4-to-3 {
  @extend .w-100;
  padding-bottom: 75%;
  position: relative;
}

#pano-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@include media-breakpoint-down(sm) {
  .pano-version-info-block {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  
  .pano-external-container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

