.add-pano-version-form {
  padding: 0rem 1rem 1rem;
}

.pano-version-title {
  @extend .rounded;
  @extend .h5;
  padding: 1.2rem;
  border: 1px solid #888;
}

.pano-version-tags {
  float: right;
}

.active-pano-version {
  .pano-version-title {
    background-color: #dcf5fc;
  }
}

.other-pano-version {
  .pano-version-title {
    background-color: #e6e6e6;
  }
}

.pano-version-content {
  margin-bottom: 1rem;
}

.pano-version-info-block {
  margin-left: 1rem;
  margin-right: 1rem;
}

.base-block {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #e6e6e6;
}

.description-block {
  @extend .base-block;
}

.present-resource {
  @extend .base-block;
}

.absent-resource {
  @extend .base-block;
  border: 1px solid #ebb;
  background-color: #ecd4d4;
}

.pano-external-container {
  padding: 1rem 1rem 0rem;
}

.container-4-to-3 {
  @extend .w-100;
  padding-bottom: 75%;
  position: relative;
}

#pano-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

